name: Check

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src-tauri/**'
      - '.github/workflows/check.yml'

jobs:
  check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            src-tauri/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: Check formatting
        run: cargo fmt --check
        working-directory: src-tauri

      - name: Check compilation
        run: cargo check && cargo check --no-default-features --features headless
        working-directory: src-tauri

      - name: Check tests
        run: cargo test -v && cargo test --no-default-features --features headless -v
        working-directory: src-tauri
